pipeline/PipelineLocalToADLS.json
{
	"name": "PipelineLocalToADLS",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LocalParquetFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CheckForFileName",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@startswith(item().name,'Parquet')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CopyToADLS",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:30:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "FileServerReadSettings",
													"recursive": false,
													"wildcardFolderPath": "\\\\127.0.0.1\\ADF_testing\\ParquetFiles",
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"maxConcurrentConnections": 2,
													"copyBehavior": "FlattenHierarchy"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "user_id",
															"type": "INT64"
														},
														"sink": {
															"name": "user_id",
															"type": "INT64"
														}
													},
													{
														"source": {
															"name": "product",
															"type": "UTF8"
														},
														"sink": {
															"name": "product",
															"type": "UTF8"
														}
													},
													{
														"source": {
															"name": "amount",
															"type": "INT64"
														},
														"sink": {
															"name": "amount",
															"type": "INT64"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": false,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "LocalParquetFiles",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "LocalToADLS",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-18T11:59:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}